[Desktop Entry]
Name=Jitsi Meet Electron
GenericName=Videoconferencing and Remote Administration
GenericName[de]=Videokonferenz und Fernwartung
Exec=/usr/share/jitsi-meet-electron/jitsi-meet-x86_64.AppImage --no-sandbox
Icon=org.jitsi.meet.202030.png
Categories=Network;
Type=Application
StartupNotify=true
